:root {
  --bg: #81B29A;
  --bar: #F2CC8F;
  --border: #3D405B;
  --button: #E07A5F;
  --main: #F4F1DE;
}

html {
  font-family: Arial, sans-serif;
  background-color: #81b29a;
}

body {
  padding: 10px;
  padding: 10px 5vw;
}

main {
  padding: 30px;
  background-color: var(--main);
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 60px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 4px;
}

.please_wait {
  font-size: 1.2rem;
  background-color: #5555557F;
  color: white;
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

footer {
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #bebebe;
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #ddd;
}

/*
  NOTE: Buttons must be placed inside a flexbox (Eg. <div class="flex-row">).
  Otherwise, they move the rest of the page when hovered.
*/
button {
  padding: 12px;
  margin-bottom: 6px;
  border-radius: 10px;
  background-color: var(--bar);
  color: var(--border);
  border: 3px solid var(--button);
  box-shadow: 0 6px 0 var(--button);
  font-size: 1rem;
  font-weight: bold;
  width: max-content;
  align-self: center;
}

button:hover {
  cursor:pointer;
  box-shadow: 0 0px 0 var(--button);
  margin-top: 6px;
  margin-bottom: 0;
}

select {
  padding: 12px;
  border-radius: 10px;
  background-color: var(--main);
  color: var(--border);
  border: 3px solid var(--border);
  font-size: 1rem;
  font-weight: bold;
  flex-grow: 1;
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  margin-right: 10px;
  color: var(--border);
}

#stats_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#records_widescreen {
  display: block;
}

#records_mobile {
  display: none;
}

#analysis_results_mobile {
  display: none;
}

#deck_image {
  display: none; 
  /*
  position: absolute;
  left: 50%;
  transform: translate(130px, -120px);
  max-width: 120px;
  */ 
  margin: 20px;
  max-width: 260px; 
  height: auto; 
  border-radius: 10px;
  align-self: center;
}

.block {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 3px solid var(--border);
  border-radius: 12px;
  box-shadow: 0 16px 0 var(--border);
}

.site-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bar);
  color: #000;
  padding: 0 30px;
  border-radius: 12px;
  min-height:30px;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 60px;
}

.top-nav .logo {
  color: var(--border);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 40px;
}

.nav-list a {
  color: var(--border);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  padding: 12px 20px;
  border-radius: 8px;
}

.nav-list a:hover {
  background: rgba(0, 0, 0, 0.06);
  background: var(--button);
  color: #fff;
}

#games_table {
  width: 100%;
}

#games_list {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 1em;
}

.flex-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 3px solid var(--border);
  border-radius: 12px;
  padding: 0;
  margin-bottom: 12px;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 12px 0 var(--border);
  /* flex-grow: 1; */
  /* max-width: 400px; */
  width: 300px;
}

.card_header {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px 14px 20px;
  background-color: var(--border);
  color: #fff;
}

.card_body {
  padding: 20px;
}

.card_footer {
  padding: 20px;
  background-color: var(--bar);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#random_games_container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  gap: 1rem;
}

.modal {
  display: none;
  position: fixed;
  overflow: scroll;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}

.player-deck-row {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
  width: calc(100% - 25px);
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

/* small screens */
@media (max-width: 800px) {
  .site-header {margin: 20px 20px 0 20px;}
  .top-nav {
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 20px;
  }
  .nav-list {
    justify-content: space-between;
  }
  /* .card {
    width: auto;
    max-width: 400px;
  } */
  body {
    margin: 0 0 40px 0;
    padding: 0;
  }
  button {flex-grow: 1;}
  .site-footer {padding-left: 20px;}
  #games_list {display: flex;}
  #games_table {display: none;}
  #random_games_container {flex-direction: column; align-items: center;}
  #records_widescreen {display: none;}
  #records_mobile {display: block;}
  #analysis_container {
    width: 300px;
  }
  #analysis_results_widescreen {display: none;}
  #analysis_results_mobile {display: block;}
  #deck_image {
    /*
    position: relative;
    transform: translate(0, 0);
    left: 0;
    padding-top: 20px;
    max-width: 300px; 
    */
  }
}