{% extends "base.html" %}

{% block content %}
<div id="decks_page">
    <div id="decks_page_list">
        <input type="text" id="deck_search_input" class="deck_item" placeholder="Search decks...">
        <!-- A list of all the decks will be populated here -->
    </div>
    <div id="deck_details">
        No Deck Selected
        <!-- Deck details will be populated here when a deck is selected -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='decks.js') }}"></script>
{% endblock %}