{% extends "base.html" %}

{% block title %}Home - Commander Games{% endblock %}

{% block content %}
<header>
    <h1>Welcome to Commander Games!</h1>
    <p>This site collates game data for our Commander (Magic: The Gathering) games and presents it in an easy-to-read format, along with visualisations and interactive data analysis features.</p>
</header>

<div>
    <h2>Random Games</h2>
    <p>Check out these randomly selected games:</p>
    <div id="random_games_container">
        <!-- Random game details will be populated here by static/index.js -->
    </div>
    <div class="flex-col">
        <button id="new_random_game_btn">
            <i class="fa fa-rotate-right"></i>
            Reroll
        </button>
    </div>
</div>

<div class="block" id="records_widescreen">
    <h2>ELO Records</h2>
    <table id="elo_records">
        <tr>
            <th>Record</th>
            <th>Deck Name</th>
            <th>Elo</th>
            <th>When</th>
        </tr>
    </table>
</div>

<div class="card" id="records_mobile">
    <div class="card_header">
        <h2>ELO Records</h2>
    </div>
    <div class="card_body">
        <!-- Change to "Current Lowest ELO" and "All Time Lowest ELO"? -->
        <strong>Current Highest ELO:</strong><p id="highest_current_elo"></p>
        <strong>Current Lowest ELO:</strong><p id="lowest_current_elo"></p>
        <strong>All Time Highest ELO:</strong><p id="highest_elo_ever"></p>
        <strong>All Time Lowest ELO:</strong><p id="lowest_elo_ever"></p>
    </div>
    <div class="card_footer">
        <br>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='util.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}