<div id="add_new_game_card" class="card modal">

    <h1>Add New Game</h1>

    <form method="post" action="{{ url_for('new_game') }}" id="new_game_form">
        <h2>Date</h2>
        <div class="flex-row">
            <input id="date_input" type="date" name="date" />
        </div>

        <div>
            <h2>Winner</h2>
            <div class="player-deck-row">
                <div class="selector-with-icon">
                    <i class="fa fa-user fa-2x"></i>
                    <select name="winning_player" class="player_select" required>
                        <option value="">Select a player</option>
                        <!-- Options will be populated by JavaScript -->
                    </select>
                </div>
                <div class="selector-with-icon">
                    <i class="fa fa-book fa-2x"></i>
                    <select name="winning_deck" class="deck_select" required>
                        <option value="">Select a deck</option>
                        <!-- Options will be populated by JavaScript -->
                    </select>
                </div>
            </div>
        </div>

        <div>
            <h2>Losers</h2>
            <div id="losers">
                <div class="player-deck-row">
                    <div class="selector-with-icon">
                        <i class="fa fa-user fa-2x"></i>
                        <select name="losing_players[]" class="player_select" required>
                            <option value="">Select a player</option>
                            <!-- Options will be populated by JavaScript -->
                        </select>
                    </div>

                    <div class="selector-with-icon">
                        <i class="fa fa-book fa-2x"></i>
                        <select name="losing_decks[]" class="deck_select" required>
                            <option value="">Select a deck</option>
                            <!-- Options will be populated by JavaScript -->
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="controls flex-row">
            <button type="button" id="remove-loser">
                <i class="fa fa-minus no-margin"></i>
            </button>
            <button type="button" id="add-loser">
                <i class="fa fa-plus no-margin"></i>
            </button>
        </div>
        <br>
        <div>
            <h2>Notes</h2>
            <div class="flex-row">
                <textarea name="notes" rows="5" placeholder="What happened?"></textarea>
            </div>
        </div>

        <div class="flex-row">
            <button type="button" id="cancel_new_game">Cancel</button>
            <button type="submit">Save Game</button>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='new_game.js') }}"></script>