{% extends "base.html" %}

{% block title %}Statistics — Commander Games{% endblock %}

{% block content %}
<h1>Statistics</h1>
<p>Welcome to the statistics page!</p>
<p>Here you can interact with the data to find interesting information about your decks!</p>
<div id="stats_container">
    <div class="block" id="records_widescreen">
        <h2>ELO Records</h2>
        <table id="elo_records">
            <tr>
                <th>Record</th>
                <th>Deck Name</th>
                <th>Elo</th>
            </tr>
        </table>
    </div>
    <div class="card" id="records_mobile">
        <h2>ELO Records</h2>
        <strong>Highest Current ELO:</strong><p id="highest_current_elo"></p>
        <strong>Lowest Current ELO:</strong><p id="lowest_current_elo"></p>
        <strong>Highest ELO Ever:</strong><p id="highest_elo_ever"></p>
        <strong>Lowest ELO Ever:</strong><p id="lowest_elo_ever"></p>
    </div>
    <div class="block" id="analysis_container">
        <h2>Deck Analysis</h2>
        <p>View detailed statistics for a specific deck.</p>
        <div>
            <label for="deck_analysis_dropdown">Deck:</label>
            <select id="deck_analysis_dropdown" name="deck_analysis_dropdown">
                <!-- Options will be populated dynamically -->
            </select>
            <button id="analyse_button">Analyse Deck</button>
        </div>
        <div id="analysis_results_container" style="display: none;">
            <div id="analysis_results_widescreen">
                <h3>Deck Analysis:</h3>
                <table id="deck_analysis_results">
                    <tr>
                        <th>Deck Name</th>
                        <td id="deck_name"></td>
                    </tr>
                    <tr>
                        <th>Games Played</th>
                        <td id="deck_games_played"></td>
                    </tr>
                    <tr>
                        <th>Win Rate</th>
                        <td id="deck_win_rate"></td>
                    </tr>
                    <tr>
                        <th>Current ELO</th>
                        <td id="deck_elo"></td>
                    </tr>
                    <tr>
                        <th>Average Opponent ELO</th>
                        <td id="deck_avrg_opponent_elo"></td>
                    </tr>
                    <tr>
                        <th>Average Opponent ELO When Win</th>
                        <td id="deck_avrg_opponent_elo_when_win"></td>
                    </tr>
                    <tr>
                        <th>Average Opponent ELO When Lose</th>
                        <td id="deck_avrg_opponent_elo_when_lose"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><table id="deck_opponents"></table></td>
                    </tr>
                </table>
            </div>
            <div id="analysis_results_mobile">
                <h3>Deck Analysis:</h3>
                <p><strong>Deck Name:</strong> <span id="deck_name_mobile"></span></p>
                <p><strong>Games Played:</strong> <span id="deck_games_played_mobile"></span></p>
                <p><strong>Win Rate:</strong> <span id="deck_win_rate_mobile"></span></p>
                <p><strong>Current ELO:</strong> <span id="deck_elo_mobile"></span></p>
                <p><strong>Avrg Opponent ELO:</strong> <span id="deck_avrg_opponent_elo_mobile"></span></p>
                <p><strong>Avrg Opponent ELO | Win:</strong> <span id="deck_avrg_opponent_elo_when_win_mobile"></span></p>
                <p><strong>Avrg Opponent ELO | Lose:</strong> <span id="deck_avrg_opponent_elo_when_lose_mobile"></span></p>
                <table id="deck_opponents_mobile"></table>
            </div>
        </div>
    </div>
</div>
<!-- <div>
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQduVW11WOejPaLkhyrEt2yvqzlpdmEdI6WMAzhohSltsfY5XgtfH6gsoWshYGEz-WP_44Cdy_RZ18-/pubhtml?gid=997820102&amp;single=true&amp;widget=true&amp;headers=false", width="100%"></iframe>
</div> -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='stats.js') }}"></script>
{% endblock %}