{% extends "base.html" %}

{% block title %}Statistics — Commander Games{% endblock %}

{% block content %}
<h1>Statistics</h1>
<p>Welcome to the statistics page!</p>
<p>Here you can interact with the data to find interesting information about your decks!</p>
<div id="stats_container">
    <div class="block" id="records_widescreen">
        <h2>ELO Records</h2>
        <table id="elo_records">
            <tr>
                <th>Record</th>
                <th>Deck Name</th>
                <th>Elo</th>
                <th>When</th>
            </tr>
        </table>
    </div>
    <div class="card" id="records_mobile">
        <div class="card_header">
            <h2>ELO Records</h2>
        </div>
        <div class="card_body">
            <!-- Change to "Current Lowest ELO" and "All Time Lowest ELO"? -->
            <b>Highest Current ELO:</b><p id="highest_current_elo"></p> <br>
            <b>Lowest Current ELO:</b><p id="lowest_current_elo"></p> <br>
            <b>Highest ELO Ever:</b><p id="highest_elo_ever"></p> <br>
            <b>Lowest ELO Ever:</b><p id="lowest_elo_ever"></p>
        </div>
        <div class="card_footer">
            <p>Note: "Current ELO" refers to most recent ELO of each deck, while "ELO Ever" refers to the highest or lowest ELO that any deck has ever achieved.</p>
        </div>
    </div>
    <div class="block" id="analysis_container">
        <h2>Deck Analysis</h2>
        <p>View detailed statistics for a specific deck.</p>
        <div class="flex-row">
            <!-- <label for="deck_analysis_dropdown">Deck:</label> -->
            <select id="deck_analysis_dropdown" name="deck_analysis_dropdown">
                <!-- Options will be populated dynamically -->
            </select>
            <button id="analyse_button">
                <i class="fa fa-bar-chart"></i>
                Analyse
            </button>
        </div>
        <img id="deck_image" src="" alt="Deck Image">
        <div id="analysis_results_container" style="display: none;">
            <div id="analysis_results_widescreen">
                <h3>Deck Analysis:</h3>
                <table id="deck_analysis_results">
                    <tr>
                        <th>Deck Name</th>
                        <td id="deck_name"></td>
                    </tr>
                    <tr>
                        <th>Games Played</th>
                        <td id="deck_games_played"></td>
                    </tr>
                    <tr>
                        <th>Last Played</th>
                        <td id="deck_last_played"></td>
                    </tr>
                    <tr>
                        <th>Win Rate</th>
                        <td id="deck_win_rate"></td>
                    </tr>
                    <tr>
                        <th>Current ELO</th>
                        <td id="deck_elo"></td>
                    </tr>
                    <tr>
                        <th>Average Opponent ELO</th>
                        <td id="deck_avrg_opponent_elo"></td>
                    </tr>
                    <tr>
                        <th>Average Opponent ELO | Win</th>
                        <td id="deck_avrg_opponent_elo_when_win"></td>
                    </tr>
                    <tr>
                        <th>Average Opponent ELO | Lose</th>
                        <td id="deck_avrg_opponent_elo_when_lose"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><table id="deck_opponents"></table></td>
                    </tr>
                </table>
            </div>
            <div id="analysis_results_mobile">
                <h3>Deck Analysis:</h3>
                <p><b>Deck Name:</b> <span id="deck_name_mobile"></span></p>
                <p><b>Games Played:</b> <span id="deck_games_played_mobile"></span></p>
                <p><b>Last Played:</b> <span id="deck_last_played_mobile"></span></p>
                <p><b>Win Rate:</b> <span id="deck_win_rate_mobile"></span></p>
                <p><b>Current ELO:</b> <span id="deck_elo_mobile"></span></p>
                <p><b>Avrg Opponent ELO:</b> <span id="deck_avrg_opponent_elo_mobile"></span></p>
                <p><b>Avrg Opponent ELO | Win:</b> <span id="deck_avrg_opponent_elo_when_win_mobile"></span></p>
                <p><b>Avrg Opponent ELO | Lose:</b> <span id="deck_avrg_opponent_elo_when_lose_mobile"></span></p>
                <table id="deck_opponents_mobile"></table>
            </div>
        </div>
    </div>
</div>
<!-- <div>
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQduVW11WOejPaLkhyrEt2yvqzlpdmEdI6WMAzhohSltsfY5XgtfH6gsoWshYGEz-WP_44Cdy_RZ18-/pubhtml?gid=997820102&amp;single=true&amp;widget=true&amp;headers=false", width="100%"></iframe>
</div> -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='stats.js') }}"></script>
{% endblock %}