{% extends "base.html" %}

{% block title %}Statistics — Commander Games{% endblock %}

{% block content %}
<h1>Statistics</h1>
<p>Welcome to the statistics page!</p>
<p>Here you can interact with the data to find interesting information about your decks!</p>
<div style="display: flex;">
    <div class="block">
        <h2>Deck Analysis</h2>
        <p>View detailed statistics for a specific deck.</p>
        <div>
            <label for="deck_analysis_dropdown">Deck:</label>
            <select id="deck_analysis_dropdown" name="deck_analysis_dropdown">
                <!-- Options will be populated dynamically -->
            </select>
            <button id="analyse_button">Analyse Deck</button>
        </div>
        <div>
            <h3>Deck Analysis:</h3>
            <table id="deck_analysis_results">
                <tr>
                    <th>Deck Name</th>
                    <td id="deck_name"></td>
                </tr>
                <tr>
                    <th>Win Rate</th>
                    <td id="deck_win_rate"></td>
                </tr>
                <tr>
                    <th>Current ELO</th>
                    <td id="deck_elo"></td>
                </tr>
                <tr>
                    <th>Average Opponent ELO</th>
                    <td id="deck_avrg_opponent_elo"></td>
                </tr>
                <tr>
                    <th>Average Opponent ELO When Win</th>
                    <td id="deck_avrg_opponent_elo_when_win"></td>
                </tr>
                <tr>
                    <th>Average Opponent ELO When Lose</th>
                    <td id="deck_avrg_opponent_elo_when_lose"></td>
                </tr>
                <tr>
                    <th>Most Common Opponents</th>
                    <td id="deck_most_common_opponents"></td>
                </tr>
                <tr>
                    <th>Win Rate Per Opponent</th>
                    <td id="deck_win_rate_per_opponent"></td>
                </tr>
                <tr>
                    <th>Lose Rate Per Opponent</th>
                    <td id="deck_lose_rate_per_opponent"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="block">
        <h2>ELO Records</h2>
        <table id="elo_records">
            <tr>
                <th>Record</th>
                <th>Deck Name</th>
                <th>Elo</th>
            </tr>
        </table>
    </div>
</div>
<!-- <div>
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQduVW11WOejPaLkhyrEt2yvqzlpdmEdI6WMAzhohSltsfY5XgtfH6gsoWshYGEz-WP_44Cdy_RZ18-/pubhtml?gid=997820102&amp;single=true&amp;widget=true&amp;headers=false", width="100%"></iframe>
</div> -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='stats.js') }}"></script>
{% endblock %}