{% extends "base.html" %}

{% block title %}Game Details - Commander Games{% endblock %}

{% block content %}
<div id="view_game_page">
    <div id="view_game_block">
        <h1>Game Details</h1>
        <div class="flex-row">
            <button id="back_to_games_button">Back</button>
            <button id="edit_game_button">Edit Game</button>
            <button id="delete_game_button" class="danger">Delete Game</button>
        </div>
        <p id="game_id"><strong>Game ID:</strong> {{ game.game_id }}</p>
        <p><strong>Date:</strong> {{ game.date }}</p>
        <p><strong>Winner:</strong> {{ game.winner.pilot }} - {{ game.winner.deck_name }}</p>
        <p><strong>Losers:</strong></p>
        <ul>
        {% for loser in game.losers %}
            <li>{{ loser.pilot }} - {{ loser.deck_name }}</li>
        {% endfor %}
        </ul>
        <p><strong>Notes:</strong> {{ game.notes }}</p>
    </div>

    <div id="input_game_details" style="display: none;">

        <h1>Edit Game</h1>

        <form method="post" action="{{ url_for('edit_game') }}" id="new_game_form">
            {% include "input_game_data.html" %}
        </form>
    </div>
</div>
<div class="please_wait">
    <i class="fa fa-rotate-right fa-spin"></i>
    &nbsp; Please wait...
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='view_game.js') }}"></script>
{% endblock %}